* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background-color: rgb(53, 52, 52);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.app-dv {
  background-color: white;
  width: 26.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 20px 0;
  
}

.inner-div {
  width: 25rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px ;
  padding: 15px;
}

.header-div {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.header-div button {
  padding: 3px 12px;
  background-color: rgb(248, 83, 18);
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  margin-right: 3px;
}
label {
  display: block;
  padding-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px 0;
  margin:0 7px 0 7px ;
}

.form div{
  padding: 5px;
}
 
input[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px;
}
.footer {
  text-align: center;
  padding-top: 15px;
}
.tasklist {
  padding-top: 5px;
  overflow: auto;
}
.task {
  display: flex;
  justify-content: space-between;
  background-color: rgb(233, 227, 227);
  padding: 5px;
  margin: 5px;
}
.task div {
  padding: 3px;
}
.task div p {
  font-family: 'Roboto', sans-serif;
  padding: 2px;
  font-size: 15px;
}
.fa-times {
  color: red;
}
.checked {
  border-left: 3px solid green;
  
}
